@media only screen and (max-width: 760px) {
		#img1{
			position:relative;
			top:205px;
			left:17px;
			width:100%;
		}
		#img2{
			position:relative;
			top:-69px;
			left:11px;
			width:100%;
		}
		#img3{
			position:relative;
			top:-343px;
			left:0px;
			width:100%;
		}
		#he{
			position:relative;
			top:-686px;
			left:-3px;
			width:100%;
			text-align:center;
		}
		#pe{
			width:100%;
			position:relative;
			top:-591px;
			left:0px;
		}
		#he1{
			position:relative;
			top:0;
			left:0;
		}
		#reg{
			width:342px;
		}
	}
	@media only screen and (min-width: 760px) {
		#img1{
			position:relative;
			top:30px;
			left:-11px;
		}
		#img2{
			position:relative;
			top:-307px;
			left:200px;
		}
		#img3{
			position:relative;
			top:-1429px;
			left:416px;
		}
		#he{
			position:relative;
			top:930px;
			left:-175px;
			width:300px;
			text-align:center;
		}
		#pe{
			width:622px;
			position:relative;
			top:1009px;
			left:-336px;
		}
		#he1{
			position:relative;
			top:0;
			left:200px;
		}
	}
	@media only screen and (min-width: 1000px) {
		#img1{
			position:relative;
			top:-17px;
			left:-100px;
		}
		#img2{
			position: relative;
			top: -91px;
			left: 71px;
		}
		#img3{
			position: relative;
			top: -1447px;
			left: 251px;
		}
		#he{
			position:relative;
			top:-81px;
			left:169px;
			width:300px;
			text-align:center;
		}
		#pe{
			width:300px;
			position:relative;
			top:-34px;
			left:164px;
			line-height:43px;
		}
		#he1{
			position:relative;
			top:0;
			left:325px;
		}
	}
	@media only screen and (min-width: 1300px) {
		#img1{
			border-radius:50%; 
			position:relative;
			top:55px; 
			left:-38px;
		}
		#img2{
			border-radius:50%; 
			position:relative;
			top:471px; 
			left:-172px;
		}
		#img3{
			border-radius:50%; 
			position:relative;
			top:-669px; 
			left:293px;
		}
		#he{
			position:relative;
			top:-100px;
			left:34px;
			width:97%;
			text-align:center;
		}
		#pe{
			width:66%;
			position:relative;
			top:-85px;
			left:152px;
			line-height:68px;
			font-size:26px;
			text-align:center;
		}
		#he1{
			position:relative;
			top:-319px;
			left:382px;
		}
	}